.container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Item Itembuy"; 
  }
  .Item { grid-area: Item; }
  .Itembuy { 
      margin: 80px 0;
      background-color: white;
      grid-area: Itembuy; 
    }