body {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

.bannerList {
  background-color: rgb(247, 153,181);
}

.loading {
  margin: 200px;
  color: black;
}

