body {
    // background: #FFF9F9;
    background: rgb(233,228,228);
    background: linear-gradient(34deg, rgba(233,228,228,1) 5%, rgba(245,240,232,1) 83%);    
    height: 100%;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

.bannerList {
  background-color: rgb(247, 153,181);
}

.loading {
  margin: 200px;
  color: black;
}