.CartProduct {
    margin: 10px 0;
}

.CartDetail {
    width: 85%;
    height: 250px;
    border-bottom-style: solid ;
    border-bottom-width: 1px;
}

.ProductTitle {
    margin-top: 40px;
}

.ProductTitle h2 {
    color: rgb(245, 90, 90);;
    margin-left: 10px;
    }

.ProductPrice {
    color: rgb(245, 90, 90);
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
    margin-left: 20px;
}

.ProductsTotalPrice {
    color: rgb(245, 90, 90);
    font-size: 55px;
    font-weight: 600;

}

.ProductQuantity {
    background-color: white;
    border-color: black;
    border-radius: 20px;
    color: rgb(245, 90, 90);
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 40px;

}

.productButton {
    color: rgb(245, 90, 90);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}


.cartQuantity {
    background-color: white;
    border-color: black;
    border-radius: 20px;
    color: rgb(245, 90, 90);
    width: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}


.imgResize {
    width: 150px;
    height: 150px;
    margin: 15px 150px;
    border-radius: 20px;
}

.clearCartButton {
    background-color: rgb(245, 90, 90);
    margin: 20px;
    height: 50px;
    width: 150px;
    animation: ClearCartEndAnimation 1s ;
}

.clearCartButton p {
    font-weight: 600;
    font-size: 20px;
    color: white;

}

.checkoutCartButton {
    background-color: rgb(245, 90, 90);
    margin: 20px;
    height: 50px;
    width: 150px;

}

.checkoutCartButton p {
    font-weight: 600;
    font-size: 20px;
    color: white;

}


.clearCartButton:hover {
    animation: ClearCartStartAnimation 1s forwards;
}

.EmptyCartAdvice {
    display: inline-block;
    justify-content: center;
}

.EmptyCartButtonText {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: -2px;
}

.GoToShopButton {
    background-color: rgb(245, 90, 90);
    width: 150px;
    height: 40px;
    margin: 10px;
    animation: ClearCartEndAnimation 1s ;
}

.GoToShopButton:hover {
    animation: ClearCartStartAnimation 1s forwards;
}

.GoToShop {
    color: rgb(245, 90, 90);
}

.CartX {
    margin: 0 200px;
    width: 50px;
    height: 50px;
    color: rgb(245, 90, 90);
}

.buyerForm {
    background-color: red;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}


.buyerData {
    margin-left: 130px;
    background-color: white;
    width: 50%;

}

.buyerData p {
    margin-top: 40px;
}

.checkoutCartButton  {
    width: 200px;
    height: 70px;
}

.orderSuccess {
    margin-left: 750px;
    z-index: 3;
}

@keyframes showUpCart {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

.showUpCart {animation: showUpCart 1s ;}



@keyframes ClearCartStartAnimation {
    0% {
        color: white;
        background-color: rgb(245, 90, 90);
    }
    
    100% {
        color: white;
        background-color: rgb(245, 49, 49);

    }
}

@keyframes ClearCartEndAnimation {
    0% {
        color: white;
        background-color: rgb(245, 49, 49);

    }
    
    100% {
        color: white;
        background-color: rgb(245, 90, 90);

     }
 
}

.container {  display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 6px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "product form";
  }
  
  .product { grid-area: product; }
  
  .form { grid-area: form; }
  

  .showUpCart {
      margin: 20px;
      width: 98%;
  }