.orderFormStyle{
    margin-left: 770px;
    width: 20%;
    padding: 10px;
}

.orderButton {
    margin: 20px;
    margin-left: 100px;
    background-color: rgb(245, 90, 90);
    color: white;
    font-weight: 600;
}