#Nav {
    padding: 10px 200px;
}

.ButtonNav {
    background-color: rgb(247,153,181);
    border-radius: 20px;
    padding: 0 20px;
    font-size: 20px;
}

p.NavP{
        margin-right: 40px;
        font-weight: 700;
        color: rgb(245, 90, 90);
    }


p.NavBox {
    display: block;
    position: relative;
    padding: 1 0;
    }
    
    /* Fade in */
    p.NavBox::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(245, 90, 90);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    }
    
    p.NavBox:hover::after,
    p.NavBox:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
    }
