#Nav {
    padding: 10px 200px;
}

.ButtonNav {
    background-color: rgb(247,153,181);
    border-radius: 20px;
    padding: 0 20px;
    font-size: 20px;
}

.NavP{
        font-weight: 700;
        color: rgb(245, 90, 90);
    }

.NavP:hover {
        transition: 1s;
        color: 1px 1px 29px -8px rgb(255,32,99);
    }


