.searchBar {
    border-radius: 5px;
    background-color: white;
    animation: searchAnimation 2s ;
}

.searchIcon {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    color: black;
    opacity: 60%;
}

@keyframes searchAnimation {
    0% {
        opacity: 25%;
        width: 0%;
    }
    50% {
        opacity: 50%;
        width: 11.8%;
    }

    100% {
        opacity: 100%;
    }
}
