body {
  background: white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Nav {
  padding: 0 200px;
  margin: 20px 0;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
}

.ButtonNav {
  background-color: #FF2063;
  color: white;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 19px;
  font-weight: 600;
}

p.ButtonNav:hover {
  transition: 1s;
  box-shadow: 1px 1px 29px -8px rgb(255,32,99);}


svg {
  margin: 0 10px;
  color: #FF2063;
}