body {
  background: #fce0e8;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: white;
}

#Nav {
  padding: 0 200px;
  margin: 20px 0;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: bold;
}

.ButtonNav {
  background-color: rgb(247,153,181);
  border-radius: 20px;
  padding: 0 20px;
  font-size: 20px;
}

p.ButtonNav {
  font-weight: 700;
  color: white;
}

p.ButtonNav:hover {
  transition: 1s;
  box-shadow: 1px 1px 29px -8px rgb(255,32,99);}


svg {
  margin: 0 10px;
  color: rgb(253, 115, 157);
}

.bannerList {
  background: rgb(247,153,181);
}

.footer {
  background: rgb(243, 106, 147);
}

.bi-github  {
  color: white;
}