body {
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; }

.bannerList {
  background-color: #f799b5; }

.loading {
  margin: 200px;
  color: black; }

h1 {
  color: white;
  font-weight: bold; }

.Titulo {
  margin-top: 20px;
  margin-left: 260px;
  width: 1400px; }

.Nav {
  width: auto;
  height: 80px;
  padding-top: 5px; }

.NavBackground {
  background-color: #f55a5a; }

.ButtonNav {
  background-color: #f799b5;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 20px; }

p.NavP {
  font-weight: 400;
  color: white;
  margin: 0 5px; }

p.NavBox {
  display: block;
  position: relative;
  padding: 1 0; }

/* Fade in */
p.NavBox::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms; }

p.NavBox:hover::after,
p.NavBox:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0); }

p.NavP:focus {
  background-color: white; }

.me-auto {
  margin-top: 35px; }

.itemsInCart {
  color: #f55a5a;
  margin-left: 45px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
  background-color: white;
  width: 25px; }

.CartWidget {
  animation: showCart 1s; }

@keyframes showCart {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

svg {
  margin: 0 10px;
  color: white; }

ul {
  display: flex;
  justify-content: space-around;
  list-style: none; }

a {
  text-decoration: none; }

.CartProduct {
  margin: 10px 0; }

.ProductTitle {
  background-color: #f55a5a;
  width: 250px;
  margin-top: 40px; }

.ProductTitle h2 {
  color: white; }

.ProductPrice {
  color: #f55a5a;
  font-size: 55px;
  font-weight: 600;
  margin-top: 20px; }

.ProductsTotalPrice {
  color: #f55a5a;
  font-size: 55px;
  font-weight: 600; }

.ProductQuantity {
  background-color: white;
  border-color: black;
  border-radius: 20px;
  color: #f55a5a;
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px; }

.cartQuantity {
  background-color: white;
  border-color: black;
  border-radius: 20px;
  color: #f55a5a;
  width: 30px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 40px; }

.imgResize {
  width: 250px;
  height: 250px;
  margin: 15px 150px;
  border-radius: 20px; }

.clearCartButton {
  background-color: #f55a5a;
  margin: 20px;
  height: 50px;
  width: 150px;
  animation: ClearCartEndAnimation 1s; }

.clearCartButton p {
  font-weight: 600;
  font-size: 20px;
  color: white; }

.clearCartButton:hover {
  animation: ClearCartStartAnimation 1s forwards; }

.EmptyCartAdvice {
  display: inline-block;
  justify-content: center; }

.EmptyCartButtonText {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin: -2px; }

.GoToShopButton {
  background-color: #f55a5a;
  width: 150px;
  height: 40px;
  margin: 10px;
  animation: ClearCartEndAnimation 1s; }

.GoToShopButton:hover {
  animation: ClearCartStartAnimation 1s forwards; }

.GoToShop {
  color: #f55a5a; }

.CartX {
  margin: 0 250px;
  width: 50px;
  height: 50px;
  color: #f55a5a; }

@keyframes ClearCartStartAnimation {
  0% {
    color: white;
    background-color: #f55a5a; }
  100% {
    color: white;
    background-color: #f53131; } }

@keyframes ClearCartEndAnimation {
  0% {
    color: white;
    background-color: #f53131; }
  100% {
    color: white;
    background-color: #f55a5a; } }

.cards {
  margin: 40px;
  border-color: #fdc0c0; }

.footer {
  background-color: #FFF9F9; }

.bi-github {
  color: #FF7878; }
