.btnCart {
    width: 200px;
    height: 40px;
    margin: 0 60px;
    border-radius: 500px;
    border-style: none;
    background: rgb(245, 90, 90);}

.btnCart:hover {
    transition: 0.2s;
    background-color: rgb(247, 38, 38);
}

