 /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a4a7ad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body {
  background: rgb(113,34,120);
  background: linear-gradient(36deg, rgba(113,34,120,1) 27%, rgba(60,107,153,1) 84%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#Nav {
  padding: 0 200px;
  margin: 20px 0;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 30px;
}

p:hover {
  transition: 0.5s;
  transform: translateX(25px)
}